/* CSS Reset */
body, header, main, footer, nav, ul, img, figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Box sizing applies to all elements */
* {
  box-sizing: border-box;
}

/* Hides navbar for mobile viewport */
.desktop-nav {
  display: none;
}

/* Background color for webpage */
body {
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  display: block;
}

/* Style rules for mobile viewport */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .name{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 3em;
  text-align: center;
  margin: 15px 0 0 0;
}

header .name a {
  text-decoration: none;
  color:#000
}

header .name a:hover {
  color: #d6a934;
  opacity: 0.7;
}

header .line-above {
  display: inline-block;
  font-family: 'PT Sans Narrow', sans-serif;
  border-top: 1px solid black;
  border-color: rgb(0, 0, 0, 0.4);
  margin: 0 0 40px 80px;
}

.directory {
  position: relative;
  max-width: auto;
  margin: 10px 5px;
}

.directory img {
  border-radius: 10px;
}

.image-text {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #f2f2f2;
  width: 100%;
  padding: 5px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 10px;
}

footer .social{
  width: 50px;
  margin: 4em auto 0;
}

footer .copyright {
  font-size: .75em;
  text-align: center;
  color: #666600;
  margin-bottom: 4%;
}

footer p a {
  text-decoration: none;
  color: #666600;
}

/* Media query for Desktop viewport */
@media screen and (min-width: 1090px) {

  /* Enable navbar for desktop viewport */
  .desktop-nav {
    display: block;
  }

  /* Desktop style rules for header and navbar */
  .desktop {
    display: flex;
    flex-wrap: row;
    align-items: center;
    justify-content: space-between;
  }

  .desktop header {
    margin-left: 10%;
  }

  .desktop-nav {
    margin-right: 10%;
  }

  .desktop-nav ul {
    margin-top: 50px;
  }

  .desktop-nav li {
    display: inline;
    padding: 1em;
  }

  .desktop-nav li:last-child {
    border-right: none;
  }

  .desktop-nav li a {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #000;
    font-size: 1.5em;
    text-decoration: none;
  }

  .desktop-nav li a:hover {
    border-bottom: #000 solid 1px;
    border-color: rgb(0, 0, 0, 0.2);
  }

  .desktop-nav li a:hover {
    color: #d6a934;
    opacity: 0.7;
  }

  /* Desktop style rules for main content */
  .grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }

  .img1, .img2, .img3, .img4 {
    width: 40%;
  }

  figure:hover {
    box-shadow: 5px 5px 15px #000;
    border-radius: 10px;
  }
}