/*
  Name: Shawn Atwood
  Date: 7/10/2023
  Filename: styles.css
*/

/* CSS Reset */
html, body, header, main, footer, nav, ul, img, figure, figcaption, p {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Defines layout of page. Allows footer to be pushed to bottom of viewport */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

#container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  margin-top: auto;
}

/* Hides navbar for mobile viewport */
.desktop-nav {
  display: none;
}

/* Background color for webpage */
body {
  background-color: #333333;
}

img {
  max-width: 100%;
  display: block;
}

/* Style rules for mobile viewport */

/* Style rules for mobile header */
.flex-header {
  display: flex;
  flex-wrap: row;
  align-items:top;
  justify-content: space-between;
}

.header-mobile {
  margin: 0 0 0 2%;
}

.header-mobile .name{
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 3em;
  text-align: center;
  margin: 15px 0 0 0;
}

.header-mobile .name a {
  text-decoration: none;
  color:#000
}

.header-mobile .line-above {
  font-family: 'PT Sans Narrow', sans-serif;
  border-top: 1px solid black;
  border-color: rgb(0, 0, 0, 0.4);
  margin: 0 0 40px 80px;
}

/* Hamburger menu */
.mobile-nav {
  width: 40%;
  margin-top: 4%;
}

.mobile-nav #menu-links {
  display: none;
}

.mobile-nav a {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  font-size: 1.2em;
  text-decoration: none;
  color: #000;
  display: block;
  padding: 0.5%;
}

.mobile-nav a.menu-icon div {
  font-size: 2em;
}

/* Style rules for home page image links */
.directory {
  position: relative;
  max-width: auto;
  margin: 10px 5px;
}

.directory img {
  border-radius: 10px;
}

.image-text {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  color: #f2f2f2;
  width: 100%;
  padding: 5px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  border-radius: 10px;
}

/* Style rules for contact form */
.form-img {
  border-radius: 10px;
  margin: auto;
  max-width: 80%;
}
.contact-header {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  margin: 0 auto;
}

.flex-form {
  width: auto;
}

fieldset {
  border: none;
}

label {
  display: block;
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
  padding: 1%;
}

input {
  display: block;
  margin: 0 auto;
  border-color: rgb(0, 0, 0, 0.3);
}

textarea {
  display: block;
  margin: 0 auto;
  border-color: rgb(0, 0, 0, 0.3);
}

.btn {
  display: block;
  margin-top: 5%;
  font-size: 1.3em;;
}

/* Style rules for individual game pages */
.top-content .game-name {
  margin: 0 auto;
  width: 80%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 3em;
  border-top: 1px solid black;
  border-color: rgb(0, 0, 0, 0.4);
  padding-top: 2%;
}

.triangle {
  color: red;
}

.top-content .game-desc {
  margin: 0 auto;
  margin-top: 3%;
  width: 80%;
  font-size: 1.5em;
  font-family: 'PT Sans Narrow', sans-serif;
}

.kowloon-link {
  color: black;
}

.soundbit {
  margin: 5% auto;
  height: 3em;
  width: 80%;
}

.play-desc {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1.3em;
  transition: font-size 0.3s ease;
}

.play-desc:hover {
  font-size: 1.6em;
  cursor: pointer;
}

.game-grid {
  position: relative;
  max-width: auto;
  margin: 10px 5px;
}

.game-grid img {
  border-radius: 10px;
}

.game-grid p {
  font-family: 'PT Sans Narrow', sans-serif;
}
/* Style rules for social and footer */
.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4%;

}

.social{
  width: 50px;
  /* margin: 4em auto 0; */
  margin-right: 1.5%;
}

.darktheme {
  margin-left: 1.5%;
}

.darktheme img {
  width: 35px;
}

.copyright {
  font-size: .75em;
  text-align: center;
  color: #666600;
  margin-top: 1.5%;
  margin-bottom: 2%;
}

/* Media query for Desktop viewport */
@media screen and (min-width: 1090px) {

  /* Enable navbar for desktop viewport */
  .desktop-nav {
    display: block;
  }

  .mobile-nav {
    display: none;
  }

  /* Desktop style rules for header and navbar */
  .flex-header {
    display: flex;
    flex-wrap: row;
    align-items: center;
    justify-content: space-between;
  }

  .header-desktop {
    margin: 0 0 0 10%;
  }

  .desktop-nav {
    margin-right: 10%;
  }

  .desktop-nav ul {
    margin-top: 50px;
  }

  .desktop-nav li {
    display: inline;
    padding: 1em;
  }

  .desktop-nav li:last-child {
    border-right: none;
  }

  .desktop-nav li a {
    font-family: 'PT Sans Narrow', sans-serif;
    color: #000;
    font-size: 1.5em;
    text-decoration: none;
  }

  .desktop-nav li a:hover {
    border-bottom: #000 solid 1px;
    border-color: rgb(0, 0, 0, 0.2);
  }

  .desktop-nav li a:hover {
    color: #d6a934;
    opacity: 0.7;
  }

  /* Desktop style rules for homepage main content */

  .home-grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
  }


  figure:hover {
    box-shadow: 5px 5px 15px #000;
    border-radius: 10px;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .form-img {
    max-width: 50%;
  }

  /* Desktop style rules for VP page */
  .vp-grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
  }

  /* Desktop style rules for individual game pages */
  .game-grid {
    width: 80%;
    margin: 0 auto
  }

  .pic-desc-group {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    margin-bottom: 4%;
  }

  .pic-desc-group p{
    margin-left: 4%;
    font-size: 1.5em;
  }
}